<h1>Contact us</h1>

<p class="lead">
  We're delighted that you would like to join us at ODI. We'd love to talk to you to discuss 
  how we can work together. Fill in the form below, and we'll be in touch as soon as we can.
</p>

<%= error_messages(@contact_request) %>

<%= form_for(@contact_request, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class='control-group'>
    <%= f.label :person_name, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_name, :class => 'input-xlarge' %>
    </div>
  </div>
  
  <div class='control-group'>
    <%= f.label :person_affiliation, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_affiliation, :class => 'input-xlarge' %>
    </div>
  </div>
    
  <div class='control-group'>
    <%= f.label :person_job_title, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_job_title, :class => 'input-xlarge' %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :person_email, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_email, :class => 'input-xlarge' %>
    </div>
  </div>
  
  <div class='control-group'>
    <%= f.label :person_telephone, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_telephone, :class => 'input-xlarge' %>
    </div>
  </div>

  
  <div class='control-group'>
    <%= f.label :comment_text, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_area :comment_text, :rows => 5, :placeholder=>"What would you like to talk to us about?", :class => 'input-xxlarge' %>
    </div>
  </div>
  
  <%= f.hidden_field :product_name, :value => @product_name %>

  <div class="form-actions">
    <%= f.submit 'Contact me', :class => 'btn btn-primary' %>
  </div>
<% end %>