<h1>Contact us</h1>

<%= error_messages(@contact_request) %>

<%= form_for(@contact_request, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class='control-group'>
    <%= f.label :person_name, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_name %>
    </div>
  </div>
  
  <div class='control-group'>
    <%= f.label :person_affiliation, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_affiliation %>
    </div>
  </div>
  
  <div class='control-group'>
    <%= f.label :person_email, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_email %>
    </div>
  </div>
  
  <div class='control-group'>
    <%= f.label :person_telephone, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_telephone %>
    </div>
  </div>
  
  <div class='control-group'>
    <%= f.label :person_job_title, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :person_job_title %>
    </div>
  </div>
  
  <div class='control-group'>
    <%= f.label :comment_text, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :comment_text %>
    </div>
  </div>
  
  <%= f.hidden_field :product_name, :value => @product_name %>

  <div class="form-actions">
    <%= f.submit 'Contact me', :class => 'btn btn-primary' %>
  </div>
<% end %>