<% @title = "Resend confirmation instructions" %>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class='control-group'>
    <%= f.label :email, :class=> 'control-label' %>
    <div class='controls'>
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Resend confirmation instructions", :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>