<fieldset>
  
  <legend>Your details</legend>
  
  <div class="control-group">
  	<%= f.label :contact_name, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :contact_name , :autofocus => true, :required => 'required' %> <span class="help-inline">(required)</span>
  	</div>
  </div>
    
  <div class="control-group">
  	<%= f.label :email, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.email_field :email, :required => 'required' %>
		<span class="help-inline">(required)</span>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :organization_name, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :organization_name %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :telephone, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :telephone %>
  	</div>
  </div>

</fieldset>

<fieldset>
  
  <legend>Billing Address</legend>
    
  <div class="control-group">
  	<%= f.label :street_address, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :street_address, :required => 'required' %>
		<span class="help-inline">(required)</span>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :address_locality, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :address_locality, :required => 'required' %>
		<span class="help-inline">(required)</span>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :address_region, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :address_region %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :address_country, :class => 'control-label', :required => 'required' %>
  	<div class="controls">
  		<%= f.text_field :address_country %>
		<span class="help-inline">(required)</span>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :postal_code, :class => 'control-label', :required => 'required' %>
  	<div class="controls">
  		<%= f.text_field :postal_code %>
		<span class="help-inline">(required)</span>
  	</div>
  </div>

</fieldset>

<fieldset>
  
  <legend>Financial information</legend>
    
  <div class="control-group">
  	<%= f.label :organization_company_number, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :organization_company_number %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :organization_vat_id, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :organization_vat_id %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :purchase_order_number, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :purchase_order_number %>
  	</div>
  </div>

</fieldset>