<fieldset>
  
  <legend>Your details</legend>
    
  <div class="control-group">
  	<%= f.label :email, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.email_field :email %>
  	</div>
  </div>
  

  <div class="control-group">
  	<%= f.label :contact_name, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :contact_name , :autofocus => true %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :organisation_name, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :organisation_name %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :telephone, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :telephone %>
  	</div>
  </div>

</fieldset>

<fieldset>
  
  <legend>Billing Address</legend>
    
  <div class="control-group">
  	<%= f.label :street_address, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :street_address %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :address_city, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :address_city %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :address_region, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :address_region %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :address_country, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :address_country %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :address_postcode, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :address_postcode %>
  	</div>
  </div>

</fieldset>

<fieldset>
  
  <legend>Financial information</legend>
    
  <div class="control-group">
  	<%= f.label :tax_number, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :tax_number %>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :purchase_order_number, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :purchase_order_number %>
  	</div>
  </div>

</fieldset>