<fieldset>

  <legend>We just need a few of your details</legend>

  <div class="control-group">
  	<%= f.label :contact_name, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :contact_name , :autofocus => true, :required => 'required' %> <span class="help-inline">(required)</span>
  	</div>
  </div>

  <div class="control-group">
  	<%= f.label :email, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.email_field :email, :required => 'required' %>
      <span class="help-inline">(required)</span>
  	</div>
  </div>

  <% unless individual? %>
    <div class="control-group">
    	<%= f.label :organization_name, :class => 'control-label' %>
    	<div class="controls">
            <%= f.text_field :organization_name, :required => 'required' %>
            <span class="help-inline">(required)</span>
    	</div>
    </div>

    <div class="control-group">
      <%= f.label :organization_size, :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:organization_size, Member::ORGANISATION_SIZES, prompt: "Please select") %>
        <span class="help-inline">(required)</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :organization_type, :class => 'control-label'  %>
      <div class="controls">
        <%= f.select(:organization_type, Member::ORGANISATION_TYPES, prompt: "Please select") %>
        <span class="help-inline">(required)</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :organization_sector, :class => 'control-label'  %>
      <div class="controls">
        <%= f.select(:organization_sector, Member.sectors, prompt: "Please select") %>
        <span class="help-inline">(required)</span>
      </div>
    </div>

  <% end %>

  <div class="control-group">
  	<%= f.label :telephone, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.text_field :telephone %>
  	</div>
  </div>

</fieldset>

<% unless individual? %>
  <fieldset>

    <legend>Financial information</legend>

    <div class="control-group">
    	<%= f.label :organization_company_number, :class => 'control-label' %>
    	<div class="controls">
    		<%= f.text_field :organization_company_number %>
    	</div>
    </div>

    <div class="control-group">
    	<%= f.label :organization_vat_id, :class => 'control-label' %>
    	<div class="controls">
    		<%= f.text_field :organization_vat_id %>
    	</div>
    </div>

  </fieldset>

<% end %>

<fieldset>

  <legend>Address details</legend>

  <div class="control-group">
    <%= f.label :street_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street_address %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address_locality, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_locality %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address_region, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_region %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address_country, :class => 'control-label' %>
    <div class="controls">
      <%= f.country_select :address_country, selected: resource.address_country || 'GB', priority_countries: ["GB"] %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :postal_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postal_code %>
    </div>
  </div>
</fieldset>
