<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= link_to('Logout', destroy_member_session_path, :method => :delete) %> 

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
  
  <fieldset>
  
    <legend>Account Details</legend>

    <div class="control-group">
  		<%= f.label :email, :class => 'control-label' %>
  		<div class="controls">
  			<%= f.email_field :email %>
  		</div>
  	</div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="control-group">
  		<%= f.label :password, :class => 'control-label' %>
  		<div class="controls">
  			<%= f.password_field :password %>
  		</div>
  	</div>
  
    <div class="control-group">
  		<%= f.label :password_confirmation, :class => 'control-label' %>
  		<div class="controls">
  			<%= f.password_field :password_confirmation %>
  		</div>
  	</div>
  
  </fieldset>
  
  <fieldset>   
    <%= render :partial => 'member_details', :locals => { :f => f } %>
  </fieldset>
  
  <fieldset>
    <div class="control-group">
      <%= f.label :current_password, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :current_password %>
		<span class="help-inline">(we need your current password to confirm your changes)</span>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit "Update", :id => 'submit', :class => 'btn btn-primary' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
