<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>
  <p class="lead">
	 We're delighted that you would like to join the ODI. We just need a few details from you before we can confirm your membership.  
  </p>
  <p class="lead">
	  This won't take longer than a couple of minutes!
  </p>
   
	<%= f.hidden_field :product_name, :value => params[:level] || @member.product_name %>
  
  <%= render :partial => 'member_details', :locals => { :f => f } %>
  
  <fieldset>
  
    <legend>Password</legend>
    
    <div class="control-group">
  		<%= f.label :password, :class => 'control-label' %>
  		<div class="controls">
  			<%= f.password_field :password %>
  		</div>
  	</div>
  
    <div class="control-group">
  		<%= f.label :password_confirmation, :class => 'control-label' %>
  		<div class="controls">
  			<%= f.password_field :password_confirmation %>
  		</div>
  	</div>
    
  </fieldset>
  	  	
  	<h2>Terms and conditions</h2>
  	
  	<p>Please read the terms and conditions below and tick to say you accept them</p>
  	
  	<div id="terms" class="well">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna tortor, elementum non commodo sit amet, tristique a augue. Pellentesque et nulla vel leo iaculis mattis ac a dolor. Nam volutpat feugiat urna at ornare. Nulla aliquet, felis id pellentesque malesuada, nulla urna facilisis magna, sed blandit turpis leo vel urna. Fusce magna justo, rhoncus vel porttitor dictum, volutpat at odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus aliquam enim leo, vitae pellentesque neque. Nunc vel lobortis arcu. Integer fermentum, tortor rutrum gravida accumsan, ligula libero lobortis elit, eu dignissim purus libero ultrices dui. Nunc interdum fringilla nulla, ac lobortis purus laoreet id.</p>

		<p>Nam sodales, felis nec consequat aliquam, quam nulla ullamcorper sapien, vitae pellentesque ligula est eget lorem. Aliquam suscipit tortor sed mauris placerat id aliquet velit volutpat. Aliquam erat volutpat. Maecenas sit amet malesuada mauris. Nunc tincidunt euismod lacus. Curabitur ac libero ante, nec laoreet risus. Integer sit amet lacinia odio. Vestibulum eget aliquet sapien.</p>

		<p>Praesent pellentesque sagittis elit, sed hendrerit sem sagittis egestas. Nullam quis odio nec diam cursus posuere. Nulla et tortor nisl. Aenean a risus nulla. Nunc porttitor tristique dictum. Sed turpis quam, adipiscing luctus iaculis at, faucibus elementum velit. Aenean velit nisi, eleifend auctor congue vitae, euismod at purus.</p>

		<p>Phasellus arcu urna, imperdiet at tincidunt sit amet, rhoncus elementum tellus. Maecenas leo nulla, tincidunt ac tristique eget, aliquet quis justo. Proin porttitor mi vitae tortor malesuada non condimentum tellus interdum. Sed eget augue lectus, et pretium risus. In eget metus quis diam placerat ultricies eget id est. Vivamus posuere tincidunt erat, non tristique felis placerat eu. Suspendisse in fringilla dui. Fusce velit elit, tempor vel blandit quis, consectetur sit amet augue. Fusce mi turpis, pulvinar in porttitor eu, aliquet non justo. Donec auctor scelerisque libero. Sed dignissim pharetra ipsum vel aliquam.</p>

		<p>Cras vitae quam purus. Mauris laoreet, risus at vestibulum feugiat, purus massa blandit diam, eu ullamcorper quam nunc ut elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ultricies purus lobortis neque lacinia a congue augue tincidunt. Pellentesque ante purus, tempus ut consequat et, porttitor eu odio. Donec convallis neque consequat mauris pellentesque luctus eleifend felis semper. Morbi quis neque ligula. Etiam erat arcu, pulvinar at molestie sit amet, fringilla et erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed mollis libero at lacus condimentum non congue libero ornare. Integer vitae consectetur enim. Curabitur congue sollicitudin urna ut dignissim. Fusce massa ante, vulputate a porta et, pretium id sem.</p>

		<p>Praesent pellentesque sagittis elit, sed hendrerit sem sagittis egestas. Nullam quis odio nec diam cursus posuere. Nulla et tortor nisl. Aenean a risus nulla. Nunc porttitor tristique dictum. Sed turpis quam, adipiscing luctus iaculis at, faucibus elementum velit. Aenean velit nisi, eleifend auctor congue vitae, euismod at purus.</p>

		<p>Phasellus arcu urna, imperdiet at tincidunt sit amet, rhoncus elementum tellus. Maecenas leo nulla, tincidunt ac tristique eget, aliquet quis justo. Proin porttitor mi vitae tortor malesuada non condimentum tellus interdum. Sed eget augue lectus, et pretium risus. In eget metus quis diam placerat ultricies eget id est. Vivamus posuere tincidunt erat, non tristique felis placerat eu. Suspendisse in fringilla dui. Fusce velit elit, tempor vel blandit quis, consectetur sit amet augue. Fusce mi turpis, pulvinar in porttitor eu, aliquet non justo. Donec auctor scelerisque libero. Sed dignissim pharetra ipsum vel aliquam.</p>

		<p>Cras vitae quam purus. Mauris laoreet, risus at vestibulum feugiat, purus massa blandit diam, eu ullamcorper quam nunc ut elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ultricies purus lobortis neque lacinia a congue augue tincidunt. Pellentesque ante purus, tempus ut consequat et, porttitor eu odio. Donec convallis neque consequat mauris pellentesque luctus eleifend felis semper. Morbi quis neque ligula. Etiam erat arcu, pulvinar at molestie sit amet, fringilla et erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed mollis libero at lacus condimentum non congue libero ornare. Integer vitae consectetur enim. Curabitur congue sollicitudin urna ut dignissim. Fusce massa ante, vulputate a porta et, pretium id sem.</p>
  	</div>
  
    <div class="control-group">
      <div class="controls">
  		  <label class='checkbox'>
          <%= f.check_box :agreed_to_terms %> <%= t(:agreed_to_terms) %>
        </label>
  	</div>
  	
  </fieldset>

  <div class="form-actions">
    <%= f.submit "Sign up", :id => 'submit', :class => 'btn btn-primary' %>
    or <%= link_to "Sign in", new_session_path(resource_name) %>
  </div>
  
<% end %>
