<div class='row-fluid'>

  <div class='span6'>
    <%= form_field f, :organization_name do %>
      <%= f.text_field :organization_name, :class => 'input', :required => 'required',
                       :'data-bind' => "value: organization_name, valueUpdate: 'afterkeydown'" %>
    <% end %>

    <%= form_field f, :organization_url do %>
    	<%= f.url_field :organization_url, :class => 'input', :placeholder => 'http://your-homepage.com',
                      :'data-bind' => "value: organization_url, valueUpdate: 'afterkeydown'" %>
    <% end %>

    <%= form_field f, :organization_tagline do %>
      <%= f.text_field :organization_tagline, :class => 'input',
                       :'data-bind' => "value: organization_tagline, valueUpdate: 'afterkeydown'" %>
    <% end %>

    <%= form_field f, :organization_description do %>
    	<%= f.text_area :organization_description,
                      :class => 'input',
                      :rows => '8',
                      :required => 'required',
                      :'data-bind' => "value: organization_description, valueUpdate: 'afterkeydown'" %>
    	<span class="help-block"><small>Plain text only, but you can use paragraphs</small></span>
    	<script>
    	$(document).ready(function() {
        org_name = $('#member_organization_name')
        org_name.val($('<div/>').html(org_name.val()).text())
    	});
    	</script>
    <% end %>

    <%= form_field f, :organization_logo do %>
  		<%= f.file_field :organization_logo, :accept => "image/*",
                       :'data-bind' => "event: {change: updateImage}" %>
  		<%= f.hidden_field :organization_logo_cache %>
    <% end %>

  </div>

  <div class='span6'>

    <%= form_field f, :organization_contact_name do %>
      <%= f.text_field :organization_contact_name, :class => 'input-large',
                       :'data-bind' => "value: organization_contactName, valueUpdate: 'afterkeydown'" %>
    <% end %>

    <%= form_field f, :organization_contact_phone do %>
      <%= f.text_field :organization_contact_phone, :class => 'input-large', :type => 'tel',
                       :'data-bind' => "value: organization_contactPhone, valueUpdate: 'afterkeydown'" %>
    <% end %>

    <%= form_field f, :organization_contact_email do %>
      <%= f.email_field :organization_contact_email, :class => 'input-large',
                       :'data-bind' => "value: organization_contactEmail, valueUpdate: 'afterkeydown'",
                       :pattern => "[a-zA-Z0-9._%+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z.]+",
                       :title => "Please enter a valid email address" %>
    <% end %>

    <%= form_field f, :organization_twitter do %>
      <%= f.text_field :organization_twitter, :class => 'input-large', :placeholder => '@username',
                       :'data-bind' => "value: organization_twitter, valueUpdate: 'afterkeydown'" %>
    <% end %>

    <%= form_field f, :organization_facebook do %>
    	<%= f.url_field :organization_facebook, :class => 'input-large', :placeholder => 'http://facebook.com/pages/your-page',
                      :'data-bind' => "value: organization_facebook, valueUpdate: 'afterkeydown'" %>
    <% end %>

    <%= form_field f, :organization_linkedin do %>
    	<%= f.url_field :organization_linkedin, :class => 'input-large', :placeholder => 'http://linkedin.com/company/your-org',
                      :'data-bind' => "value: organization_linkedin, valueUpdate: 'afterkeydown'" %>
    <% end %>
  </div>

</div>
