<div class='organization' vocab="http://schema.org/" typeOf="Organization">

  <div class="organization-sidebar pull-right">
    <% unless @member.supporter? || listing.logo.blank? %>
      <div class='organization-logo'
           style='background-image: url(<%= listing.logo.rectangular.url %>)'
           data-bind='style: {backgroundImage: imageSrc}' >
      </div>
    <% end %>

    <p>
      <span class="label <%= listing.member.product_name %>"><%= listing.member.product_name.capitalize %></span>
    </p>

    <% if listing.url.present? %>
      <p>
        <span class='contact-detail'>
          <i class='icon icon-home'></i> <a property="url" data-bind="text: url, attr: {href: url}" href='<%= listing.url %>'><%= listing.url%></a>
        </span>
      </p>
    <% end %>

    <p property='contactPoint' typeOf="ContactPoint">

      <span property='description' class='contact-point-description'>Sales contact</span>

      <% if @preview || listing.contact_name.present? %>
        <span data-bind="visible: contactName().length > 0" class='contact-detail'>
          <i class='icon-user'></i> <span property="name" data-bind="text: contactName"><%= listing.contact_name %></span>
        </span>
      <% end %>

      <% if @preview || listing.contact_email.present? %>
        <span data-bind="visible: contactEmail().length > 0" class='contact-detail'>
          <i class='icon-envelope-alt'></i> <a property="email" data-bind="text: contactEmail, attr: {href: mailto}" href='mailto:<%= listing.contact_email %>'><%= listing.contact_email %></a>
        </span>
      <% end %>

      <% if @preview || listing.contact_phone.present? %>
        <span data-bind="visible: contactPhone().length > 0" class='contact-detail'>
          <i class='icon-phone-sign'></i> <span property="telephone" data-bind="text: contactPhone"><%= listing.contact_phone %></span>
        </span>
      <% end %>
    </p>

    <p>
      <% if @preview || listing.twitter.present? %>
        <span data-bind="visible: twitter().length > 0" property='contactPoint' typeof='ContactPoint'>
          <a property='url' data-bind="attr: {href: twitterUrl}" href='http://twitter.com/<%= listing.twitter %>'><%= image_tag 'twitter-16x16.png', :alt => "Twitter" %><span property='name' class='contact-point-description'>Twitter</span></a>
        </span>
      <% end %>

      <% if @preview || listing.facebook.present? %>
        <span data-bind="visible: facebook().length > 0" property='contactPoint' typeof='ContactPoint'>
          <a property='url' data-bind="attr: {href: facebook}" href='<%= listing.facebook %>'><%= image_tag 'facebook-16x16.png', :alt => "Facebook" %><span property='name' class='contact-point-description'>Facebook</span></a>
        </span>
      <% end %>

      <% if @preview || listing.linkedin.present? %>
        <span data-bind="visible: linkedin().length > 0" property='contactPoint' typeof='ContactPoint'>
          <a property='url' data-bind="attr: {href: linkedin}" href='<%= listing.linkedin %>'><%= image_tag 'linkedin-16x16.png', :alt => "Linkedin" %><span property='name' class='contact-point-description'>Linkedin</span></a>
        </span>
      <% end %>
    </p>
  </div>

  <h2 property="name"<% if @preview %> data-bind="html: name"<% end %>><%= listing.name %></h2>

  <div class='<%= @member.supporter? ? '' : 'organization-content' %>'>

    <% if @preview || listing.tagline.present? %>
      <p data-bind="visible: tagline().length > 0"><strong data-bind="text: tagline"><%= listing.tagline %></strong></p>
    <% end %>

    <div class='organization-description' property="description" datatype="rdf:HTML">
      <% if @preview %>
        <div data-bind="html: formattedDescription"></div>
      <% else %>
        <%= simple_format(listing.description) %>
      <% end %>
    </div>

    <p>
      <em>Member since: <%= @member.created_at.strftime("%B %Y")%></em>
    </p>

  </div>

  <% if @preview %>
    <script type="text/javascript">
        function ListingViewModel() {
            this.name         = ko.observable("<%= listing.name %>");
            this.description  = ko.observable("<%= escape_javascript(strip_tags(listing.description).html_safe) rescue nil %>");
            this.url          = ko.observable("<%= listing.url %>");
            this.imageSrc     = ko.observable("url(<%= listing.logo.rectangular.url %>)");
            this.contactName  = ko.observable("<%= listing.contact_name %>");
            this.contactPhone = ko.observable("<%= listing.contact_phone %>");
            this.contactEmail = ko.observable("<%= listing.contact_email %>");
            this.twitter      = ko.observable("<%= listing.twitter %>");
            this.facebook     = ko.observable("<%= listing.facebook %>");
            this.linkedin     = ko.observable("<%= listing.linkedin %>");
            this.tagline      = ko.observable("<%= escape_javascript(strip_tags(listing.tagline).html_safe) rescue nil %>");
            this.mailto       = ko.computed(function() {
              return 'mailto:' + this.contactEmail();
            }, this);
            this.twitterUrl   = ko.computed(function() {
              return 'http://twitter.com/' + this.twitter();
            }, this);
            this.facebookLabel= ko.computed(function() {
              return this.facebook().split('/').pop();
            }, this);
            this.linkedinLabel= ko.computed(function() {
              return this.linkedin().split('/').pop();
            }, this);
            this.formattedDescription = ko.computed(function() {
              str = this.description().replace(/\r\n?/, "\n");
              str = $.trim(str);
              if (str.length > 0) {
                str = str.replace(/\n\n+/g, '</p><p>');
                str = str.replace(/\n/g, '<br />');
                str = '<p>' + str + '</p>';
              }
              return str;
            }, this);
            this.updateImage = function() {
              input = $('#member_listing_attributes_logo')[0]
              if (input.files[0] && window.FileReader) {
                reader = new FileReader();
                reader.onloadend = function( ){
                    window.listingPreview.imageSrc("url("+this.result+")");
                }
                reader.readAsDataURL(input.files[0]);
              }
            };
        };
        window.listingPreview = new ListingViewModel()
        ko.applyBindings(window.listingPreview);
    </script>
  <% end %>

</div>
