<div class='organization organization-summary' vocab="http://schema.org/" typeOf="Organization">

  <% if listing.logo.rectangular.url.present? %>
    <div class='organization-logo pull-right' style='background-image: url(<%= listing.logo.rectangular.url %>)'>
    </div>
  <% end %>

  <div class='organization-content'>
    <h2 property="name"><%= link_to listing.name, listing.member %>  <span class="label <%= listing.member.product_name %>"><%= listing.membership_description %></span></h2>

    <% if listing.tagline.present? %>
      <p><strong><%= listing.tagline %></strong></p>
    <% end %>

    <% if listing.url.present? %>
      <p class="url">
        <i class='icon icon-home'></i>
        <%= link_to listing.url, listing.url, :property => "url"%></a>
      <p>
    <% end %>

    <div class='organization-description clearfix'>
      <p property="description"><%= highlight(listing_summary(listing), @search) %></p>
      <%= link_to "#{editable?(listing.member) ? "Edit" : "More"} information".html_safe, listing.member, :class=>'btn pull-right', :title => "#{editable?(listing.member) ? "Edit" : "More"} information on #{listing.name}" %>
    </div>
  </div>

</div>
