<p><%= greeting(@member) %>,</p>

<p>We are delighted to have you join the Open Data Institute member network. Thank you for supporting us!</p>

<p>- Your membership number is <strong><%= @member.membership_number %></strong>.</p>

<p>- To activate your account click <%= link_to 'here', edit_password_url(@member, :reset_password_token => @member.reset_password_token) %> and enter your company profile for the Member Directory.</p>

<% unless @type == "capsule" %>
  <p>- You will soon receive your Welcome Pack to help you get started with your ODI membership and make the most of ODI communications.</p>
<% end %>

<p>If you have any questions or suggestions please do get in touch with the <%= mail_to 'members@theodi.org', 'membership team' %>.</p>

<p>Best wishes,</p>

<p>
  Rachel, Andrea, Carl and Patrik
  <br/>
  The ODI Membership team
</p>

<p>
  <%= mail_to 'members@theodi.org', 'Membership' %> For general queries<br/>
</p>
