<table style="width: 593px; border: 1px solid #eee; margin: 0 auto;">
<tr>
  <td>
    <%= image_tag attachments['email.jpg'].url, width: 593, height: 173, alt: "" %>
  </td>
<tr>
  <td style="padding: 10px;">

    <p style="font-family: Helvetica, Arial, sans-serif;"><%= greeting(@member) %></p>

    <p style="font-family: Helvetica, Arial, sans-serif;">Welcome to the Open Data Institute (ODI) member network! We are delighted that you’re now part of our unique group of individuals and organisations who share a deep interest in data and its potential.</p>

    <h3 style="font-family: Helvetica, Arial, sans-serif;">You’re now part of the open data revolution!</h3>

    <p style="font-family: Helvetica, Arial, sans-serif;">Why not let others know that you’ve joined the open data revolution? You can now proudly display your membership badge on your website (available from <%= member_account_link(@resource) %>). Also, why not <a href="http://ctt.ec/dTxd3">tweet</a> that you’re now a member?</p>

    <h3 style="font-family: Helvetica, Arial, sans-serif;">Take advantage of great events and opportunities</h3>

    <p style="font-family: Helvetica, Arial, sans-serif;">We'll be pinging you an e-newsletter with news, opportunities and events every fortnight, and you’ll get priority invites to ODI events. Also, the ODI holds free <a href="http://mandrillapp.com/track/click/30024501/theodi.org?p=eyJzIjoibThYbGczRElyVTY2aUJZb0lNdzhjdWlGRHM0IiwidiI6MSwicCI6IntcInVcIjozMDAyNDUwMSxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvdGhlb2RpLm9yZ1xcXC9sdW5jaHRpbWUtbGVjdHVyZXNcIixcImlkXCI6XCJhZmU4M2IyOTlmYzI0MGE4YTgwMmFmN2MxYjg4NzM3M1wiLFwidXJsX2lkc1wiOltcIjVjZTc5YWEzNWYyNDc3MmI5NjVjZGU3MzM2Y2ViMDFiYjZhMGMxOTFcIl19In0">Friday lunchtime lectures</a> showcasing the many ways in which data is changing the world. If you’re nearby, come along or tune in to the live stream. </p>

    <h3 style="font-family: Helvetica, Arial, sans-serif;">Learn more about data﹣30% off courses</h3>

    <p style="font-family: Helvetica, Arial, sans-serif;">As a member you are entitled to a 30% discount on training at the ODI. We recommend that, as a perfect first step, you try our introductory course <a href="https://theodi.org/courses/open-data-day">Open Data in a Day</a> and secure your place by selecting an 'ODI Member' ticket on the booking form.</p>

    <p style="font-family: Helvetica, Arial, sans-serif;">If you have any questions or suggestions, please do get in touch by emailing members@theodi.org. We hope to hear from you soon.</p>

    <p style="font-family: Helvetica, Arial, sans-serif;">Best wishes</p>

    <p style="font-family: Helvetica, Arial, sans-serif;">The ODI Membership team</p>

    <p style="font-family: Helvetica, Arial, sans-serif;">
       <strong>Email:</strong> <%= mail_to 'members@theodi.org' %><br />
       <strong>Twitter:</strong> <%= link_to '@odihq', 'http://twitter.com/odihq' %><br />
       <strong>LinkedIn:</strong> <%= link_to 'https://www.linkedin.com/company/the-open-data-institute', 'https://www.linkedin.com/company/the-open-data-institute' %><br />
       <strong>Web:</strong> <%= link_to 'http://theodi.org/', 'http://theodi.org/' %>
    </p>

  </td>
</tr>
</table>
