<table style="width: 593px; border: 1px solid #eee; margin: 0 auto;">
<tr>
  <td>
    <%= image_tag attachments['email.jpg'].url, width: 593, height: 173, alt: "" %>
  </td>
<tr>
  <td style="padding: 10px;">

    <p style="font-family: Helvetica, Arial, sans-serif;"><%= greeting(@member) %></p>

    <p style="font-family: Helvetica, Arial, sans-serif;">Congratulations on becoming part of the Open Data Institute (ODI)’s global membership network - a group of individuals and organisations who share an interest in data and its potential. </p>

    <h3 style="font-family: Helvetica, Arial, sans-serif;">Your membership</h3>

    <% if @resource.reset_password_token %>
      <p style="font-family: Helvetica, Arial, sans-serif;">For reference: your membership number is <strong><%= @resource.membership_number %></strong> and you can sign in to activate your account <%= link_to 'here', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>.</p>
    <% else %>
      <p style="font-family: Helvetica, Arial, sans-serif;">For reference: your membership number is <strong><%= @resource.membership_number %></strong> and you can sign in to make any changes you need on your account <%= link_to 'here', new_member_session_url(membership_number: @resource.membership_number) %>.</p>
    <% end %>

    <p style="font-family: Helvetica, Arial, sans-serif;">As a member you will receive:</p>

    <ul style="font-family: Helvetica, Arial, sans-serif;">
      <li><strong>invitations</strong> to events organised by the ODI and our friends</li>
      <li><strong>opportunities</strong> to promote your own news and events across the network</li>
      <li><strong>updates</strong> twice a month from the world of open data</li>
      <li><strong>30% discount</strong> on all of our courses</li>
      <li><strong>priority</strong> entry at annual ODI Summit</li>
    </ul>

    <h3 style="font-family: Helvetica, Arial, sans-serif;">Say "hello"!</h3>

    <p style="font-family: Helvetica, Arial, sans-serif;">Tell your friends and colleagues you're a member, and let them know why you joined us <%= link_to '@ODIHQ', 'https://twitter.com/ODIHQ' %>. We look forward to seeing you there soon.</p>

    <p style="font-family: Helvetica, Arial, sans-serif;">
    The ODI Membership team<br />
    <br />
    Open Data Institute<br />
    3rd Floor, 65 Clifton Street, London, EC2A 4JE<br />
    Company number 08030289<br />
    </p>

    <p style="font-family: Helvetica, Arial, sans-serif;">PS have a question? Get in touch: <%= mail_to 'members@theodi.org' %></p>

  </td>
</tr>
</table>
