<% @title = "Sign in to edit your profile" %>

<%= form_for(resource, :as => resource_name, :url => member_session_path, :html => {:class => 'form-horizontal'}) do |f| %>

  <div class="control-group">
    <%= f.label :login, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :login, :value => params[:email] || params[:membership_number], :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class='controls'>
      <%= f.password_field :password %> <small><%= link_to "Forgot your password?", new_password_path(resource_name) %></small>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <div class='controls'>
        <%= f.label :remember_me, :class => 'checkbox' do %>
          <%= f.check_box :remember_me %>
          Remember me
        <% end %>
      </div>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "Sign in", :id => 'submit', :class => 'btn btn-primary btn-large' %>
    or <%= link_to "Become an ODI member", 'http://theodi.org/join-us' %>
  </div>

<% end %>
