<div class='control-group'>
	<%= f.label :name, :class => 'control-label' %>
	<div class='controls'>
		<%= f.text_field :name, :class => 'input-xlarge', :required => 'required', :'data-bind' => 'value: name' %>
	</div>
</div>

<div class='control-group'>
	<%= f.label :description, :class => 'control-label' %>
	<div class='controls'>
		<%= f.text_area :description, :class => 'input-xlarge', :rows => '8', :maxlength => @organization.character_limit, :required => 'required', :'data-bind' => 'value: description' %>
		<span class="help-block" id="limit"><%= "Limit of #{@organization.character_limit} characters" %></span>
		<script>
		$(document).ready(function() {
      var max = <%= "#{@organization.character_limit}" %> - $('#member_organization_attributes_description').val().replace(/(\r\n|\n|\r)/g,"  ").length
			$('#limit').html('<span id="remaining">'+ max +'</span> characters remaining');
			$('#member_organization_attributes_description').keyup(function() {
        var max = <%= "#{@organization.character_limit}" %>
				var len = $(this).val().replace(/(\r\n|\n|\r)/g,"  ").length;
				var rem = max - len
				$('#remaining').html(rem);
			});
		});
		</script>
	</div>
</div>
  
<div class='control-group'>
	<%= f.label :url, :class => 'control-label' %>
	<div class='controls'>
		<%= f.url_field :url, :class => 'input-xlarge', :'data-bind' => 'value: url' %>
	</div>
</div>
	
<% unless @organization.member.product_name == "supporter" %>

	<div class='control-group'>
		<%= f.label :logo, :class => 'control-label' %>
		<div class='controls'>
			<%= f.file_field :logo %>
			<%= f.hidden_field :logo_cache %>
		</div>
	</div>
	
<% end %>
