<%= form_field f, :name do %>
  <%= f.text_field :name, :class => 'input-xlarge', :required => 'required', 
                   :'data-bind' => "value: name, valueUpdate: 'afterkeydown'" %>
<% end %>

<%= form_field f, :description do %>
	<%= f.text_area :description, 
                  :class => 'input-xlarge', 
                  :rows => '8', 
                  :maxlength => @member.organization.character_limit, 
                  :required => 'required', 
                  :'data-bind' => "value: description, valueUpdate: 'afterkeydown'" %>
	<span class="help-block"><small>Plain text only, but you can use paragraphs</small></span>
	<span class="help-block" id="limit"><%= "Limit of #{@member.organization.character_limit} characters" %></span>
	<script>
	$(document).ready(function() {
    var max = <%= "#{@member.organization.character_limit}" %> - $('#member_organization_attributes_description').val().replace(/(\r\n|\n|\r)/g,"  ").length
		$('#limit').html('<span id="remaining">'+ max +'</span> characters remaining');
		$('#member_organization_attributes_description').keyup(function() {
      var max = <%= "#{@member.organization.character_limit}" %>
			var len = $(this).val().replace(/(\r\n|\n|\r)/g,"  ").length;
			var rem = max - len
			$('#remaining').html(rem);
		});
	});
	</script>
<% end %>
  
<%= form_field f, :url do %>
	<%= f.url_field :url, :class => 'input-xlarge', 
                  :'data-bind' => "value: url, valueUpdate: 'afterkeydown'" %>
<% end %>
	
<% unless @member.product_name == "supporter" %>

  <%= form_field f, :logo do %>
		<%= f.file_field :logo, :accept => "image/*", 
                     :'data-bind' => "event: {change: updateImage}" %>
		<%= f.hidden_field :logo_cache %>
  <% end %>
	
<% end %>
