<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ODI Member Directory</title>
    <%= alternate_auto_discovery_link_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body data-spy="scroll" data-target="#mainnav">

    <nav>
      <div class='navbar navbar-inverse navbar-static-top' id='topbar'>
        <div class='container'>
          <div class='navbar-inner'>
            <a class='brand' href='http://theodi.org/'>
              <%= image_tag "logo-header.png", alt: "Logo" %>
            </a>
              <ul class="nav pull-right">
              <li><a href="http://theodi.org/contact">Contact us</a></li>
              <li><a href="http://theodi.org/newsletters">Newsletters</a></li>
              <% if current_member %>
                <li><%= link_to "My Account", member_path(current_member) %></li>
                <li><%= link_to "Sign out", member_session_path, :method => :delete %></li>
              <% elsif current_admin %>
                <li><%= link_to "ADMIN MODE: Sign out", member_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to "Sign in", new_member_session_path %></li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>

      <a id="mobile-menu" class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
        <span class="icon icon-reorder"></span>
      </a>

      <div class="nav-collapse collapse">

      <div class="navbar navbar-static-top" id="mainnav">
        <div class="container">
          <div class="navbar-inner">
            <ul class="nav navbar-nav main-nav">
              <li class="dropdown"><a href="http://theodi.org/news">News &amp; blog</a></li>
              <li class="dropdown"><a href="http://theodi.org/get-involved">Get involved</a></li>
              <li class="dropdown"><a href="http://theodi.org/our-network">Our global network</a></li>
              <li class="dropdown"><a href="http://theodi.org/events">Events</a></li>
              <li class="dropdown"><a href="http://theodi.org/our-focus">Our focus</a></li>
              <li class="dropdown"><a href="http://theodi.org/publications">Publications</a></li>
              <li class="dropdown last"><a href="http://theodi.org/about">About the ODI</a></li>
            </ul>
          </div>
        </div>
      </div>

      </div>

      <div class="navbar navbar-inverse navbar-static-top mobile-only">
        <div class="container">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://theodi.org/contact">Contact us</a></li>
            <% if current_member %>
              <li><%= link_to "My Account", member_path(current_member) %></li>
              <li><%= link_to "Sign out", member_session_path, :method => :delete %></li>
            <% elsif current_admin %>
              <li><%= link_to "ADMIN MODE: Sign out", member_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", new_member_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </nav>

    <div class="whiteout">
      <section>
        <header>
          <div class="container">
            <h1><%= @title || "Members"%></h1>
          </div>
        </header>

        <div class='container main-default' id='main'>

          <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
          <% if alert %><div class="alert alert-error"><%= alert %></div><% end %>

          <%= yield %>
        </div>
      </section>
    </div>

    <footer id='footer'>
      <div class='container'>
        <div class='span8 footer-content'>
          <h1><a href='http://www.theodi.org'>Open Data Institute</a></h1>
          <p> <a href='http://www.openstreetmap.org/?lat=51.522205&amp;lon=-0.08176500000001852&amp;zoom=16&amp;layers=T&amp;mlat=51.52210&amp;mlon=-0.08343'>Open Data Institute</a><span>, 65 Clifton Street, London EC2A 4JE</span></p>
          <p><a href='mailto:info@theodi.org'>info@theodi.org</a> · Company <a href='http://opencorporates.com/companies/gb/08030289'>08030289</a>  · <span>VAT</span> <span>143 7796 80</span></p>
          <p class='license'><a href='http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB' rel='license'><img alt="Creative Commons Licence" height="15" src="<%= asset_path "logo_cc_80x15.png" %>" width="80" /></a></p>
        </div>
        <div class='span4 footer-nav'>
          <nav>
            <ul class='pull-right'>
              <li><a href="http://theodi.org/terms-of-use">Terms of Use</a></li>
              <li><a href="http://theodi.org/privacy-policy">Privacy Policy</a></li>
              <li><a href="http://theodi.org/cookie-policy">Cookie Policy</a></li>
              <% unless current_admin %>
                <li><%= link_to "Administration", admin_omniauth_authorize_path(:google_oauth2) %></li>
              <% end %>

            </ul>
          </nav>
        </div>
      </div>
    </footer>

    <%= render partial: 'shared/a1webstats' %>

  </body>
</html>
