<%= form_for(@member, :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <%= error_messages(@member) %>

  <fieldset>

    <legend>Account Details</legend>

    <div class="control-group">
  		<%= f.label :membership_number, :class => 'control-label' %>
  		<div class="controls">
  			<span class="input-large uneditable-input"><%= @member.membership_number %></span>
        <span class="help-inline">(your login name)</span>
  		</div>
  	</div>

    <div class="control-group">
  		<%= f.label :email, :class => 'control-label' %>
  		<div class="controls">
  			<%= f.email_field :email %>
  		</div>
  	</div>

    <% if @member.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= @member.unconfirmed_email %></div>
    <% end %>

    <%= form_field f, :cached_newsletter do %>
      <%= f.check_box :cached_newsletter %>
    <% end %>

  </fieldset>

  <% if ['partner', 'sponsor', 'supporter'].include?(@member.product_name) %>
    <fieldset>
      <legend>Badge</legend>

      <p>Tell the world about your ODI membership. <a href="#badgeContent" data-toggle="modal">Display a badge</a> on your site.</p>

      <%= render(:partial => 'badge_form') %>
    </fieldset>
  <% end %>

  <fieldset id='organization-details'>

    <legend>Organisation Details</legend>

    <p class='alert alert-info'>
      The ODI membership directory is a space that allows open data companies to
      network, find each other, and work together. This section allows you to specify
      the details that are shown in the directory.
    </p>

    <%= f.fields_for :organization do |builder| %>
      <%= render :partial => 'organizations/form', :locals => { :f => builder } %>
    <% end %>

    <div class="control-group">
  		<div class="controls">
        <section class='preview'>
          <%= render :partial => 'organizations/organization', :locals => { :organization => @member.organization } %>
        </section>
      </div>
    </div>

  </fieldset>

  <% unless current_admin %>

    <fieldset>

      <legend>Change Password</legend>

      <div class="control-group">
    		<%= f.label :password, :class => 'control-label' %>
    		<div class="controls">
    			<%= f.password_field :password %>
    		</div>
    	</div>

      <div class="control-group">
    		<%= f.label :password_confirmation, :class => 'control-label' %>
    		<div class="controls">
    			<%= f.password_field :password_confirmation %>
    		</div>
    	</div>

    </fieldset>

    <fieldset>

      <legend>Current Password</legend>

      <p>
        We need your current password to confirm your changes.
      </p>

      <div class="control-group">
        <%= f.label :current_password, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :current_password, :required => 'required' %>
  		<span class="help-inline">(required)</span>
        </div>
      </div>

    </fieldset>
  <% end %>

  <% unless @member.cached_active %>
    <p class='alert alert-info'>
      After you save, the ODI will review your listing and enable it for display in the public directory.
    </p>
  <% end %>

  <div class="form-actions">
    <%= f.submit "Save", :id => 'save', :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>
