<form class="form-search pull-right">
  <input type="search" name="q" value="<%= @search %>" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>

<p class="muted">This directory lists organisations who are currently members of the ODI:</p>

<div class="alpha-group pagination">
  <ul>
    <%= pagination_item(link_to('All', alpha: nil), @alpha.nil? && @search.nil?) %>
    <% @groups.each do |letter| %>
      <%= pagination_item(link_to(letter, alpha: letter), letter == @alpha) %>
    <% end %>
  </ul>
</div>

<% @organizations.each do |organization| %>
  <%= render :partial => 'organizations/summary', :locals => {:organization => organization}%>
<% end %>

<%= render 'shared/alternate_formats' %>
