<p class="lead">
To complete your registration, please continue to the payment page.
</p>

<% case @discount_type %>
<% when :free %>
<p>
    As part of this sign-up process we need to take your credit or debit card
    details. Don’t worry, you’re still getting the first twelve months of
    membership for free.
</p>
<p>
    After twelve months you’ll only be charged if you decide
    to renew. We’ll give you plenty of notice before taking any payment from the
    card and you are under absolutely no obligation to renew.
</p>
<% when :discount %>
<p>
    Congratulations! You’re receiving a discount on your ODI membership. The
    discount will be applied on the next page.
</p>
<% else %>
<p>Being <%= indefinite_article(@member.get_plan_description) %> is <%= @member.get_plan_price %> per year.</p>
<% end %>

<p>
<%= form_tag payment_member_path(@member), method: 'post' do %>
  <%= hidden_field_tag(:coupon, params[:coupon]) if params[:coupon].present? %>
  <% if @member.monthly_payment_option? %>
    How would you like to pay?
    <div class="control-group">
      <div class='controls'>
        <%= label_tag :payment_frequency_monthly, :class => 'radio inline' do %>
          <%= radio_button_tag :payment_frequency, 'monthly' %>
          12 monthly installments of <%= @member.get_monthly_plan_price %>
        <% end %>
        </div>
    </div>
    <div class="control-group">
      <div class='controls'>
        <%= label_tag :payment_frequency_annual, :class => 'radio inline' do %>
          <%= radio_button_tag :payment_frequency, 'annual', :true %>
          Annually
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary btn-large" value="<%= payment_button_label(@discount_type) %>">
    </div>
  </div>
<% end %>
</p>
