<p class="lead">
  <%= @discount_type %>
  <% if @member.student? || @discount_type == :free %>
    To complete your registration, please continue to the next page.
  <% else %>
    To complete your registration, please continue to the payment page.
  <% end %>
</p>

<% unless @member.student? %>

<% case @discount_type %>
<% when :free %>
<p>
    Congratulations! You’re receiving 12 months of free ODI membership. This
    will be set up on the next page.
</p>
<p>
    You’ll only have to enter your card details when you decide
    to renew after twelve months.
</p>
<% when :discount %>
<p>
    Congratulations! You’re receiving a discount on your ODI membership. The
    discount will be applied on the next page.
</p>

<% end %>

<% end %>

<p>
<%= form_tag payment_member_path(@member), method: 'post' do %>
  <%= hidden_field_tag(:coupon, @coupon) if @coupon %>
  <%= hidden_field_tag(:no_payment, @no_payment) if @no_payment %>
  <% if @member.monthly_payment_option? %>
    How would you like to pay?
    <div class="control-group">
      <div class='controls'>
        <%= label_tag :payment_frequency_monthly, :class => 'radio inline' do %>
          <%= radio_button_tag :payment_frequency, 'monthly' %>
          12 monthly installments
        <% end %>
        </div>
    </div>
    <div class="control-group">
      <div class='controls'>
        <%= label_tag :payment_frequency_annual, :class => 'radio inline' do %>
          <%= radio_button_tag :payment_frequency, 'annual', :true %>
          Annually
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary btn-large" value="<%= payment_button_label(@member, @discount_type) %>">

      <% if @member.supporter? %>
        <p class="pay-by-invoice">
          <%= link_to("Or would you rather pay by invoice?", new_member_registration_path(:level => "supporter", :invoice => true)) %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
</p>
